<!DOCTYPE html>
<html>
<head>
	<title>Web Dev Projects</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
</head>
<body>

<div class="container" id="header">
	<div class="jumbotron">
		<h1>Dan Wilson</h1>
	    <p>Web Dev Projects</p>
	    <hr>
	    <a class="btn btn-primary btn-lg" 
	       href="https://damp-ocean-67958.herokuapp.com/" 
	       role="button" 
	       target="_blank">Book Review App
	    </a>
	    <a class="btn btn-primary btn-lg" 
	       href="/company" 
	       role="button"
	       target="_blank">Company Landing Page
	    </a>
	    <a class="btn btn-primary btn-lg" 
	       href="/survey" 
	       role="button"
	       target="_blank">Survey Form
	    </a>
	    <a class="btn btn-primary btn-lg" 
	       href="/technical" 
	       role="button"
	       target="_blank">Technical Documentation
	    </a>
	</div>
</div>
<div class="container" id="info">
	<p>
    	Book review app built primarily with Node.js, Express, and MongoDB. It was coded largely by following tutorials, although numerous functional and aesthetic changes were made. See <a href="https://github.com/cyandan/luchalibro" target="_blank">source code</a> for other dependencies.
	</p>
	<p>
		Other projects built with HTML/CSS, <a href="https://getbootstrap.com/" target="_blank">Bootstrap 4</a>, and <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>. Video on company landing page made by <a href="https://dissolve.com/" target="_blank">Dissolve</a>. Info on technical documentation page is from <a href="https://developer.mozilla.org/" target="_blank">MDN Web Docs</a>.
	</p>
	<p>
		Source code for all projects available on <a href="https://github.com/cyandan/" target="_blank">my GitHub</a>.
	</p>
	<p>
		Additional info available on my <a href="https://www.linkedin.com/in/danielalanwilson/" target="_blank">LinkedIn</a> profile.
	</p>
</div>
</body>
</html>